* {
  --gap: 25px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  /* background-color: #111;
  color: #fff; */
}

body:not(.preload) {
  padding: calc(var(--gap) * 2);
}

body:not(.preload) .preload {
  display: none;
}

body.preload *:not(.preload) {
  display: none;
}

h1.preload {
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.header img {
  width: 100px;
  height: 100px;
  border-radius: 15px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--gap)
}

.version {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(var(--gap) / 4);
  cursor: pointer;
}

.version:hover {
  transform: scale(1.05);
}

.version img {
  width: 427px;
}

.version a {
  font-weight: bold;
}